body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
}

.calculator input {
    width: 92%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}

.calculator button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
}

.calculator button:hover {
    background-color: #e0e0e0;
}

.calculator button:active {
    background-color: #d0d0d0;
}

#result {
    font-size: 18px;
    font-weight: bold;
}
